.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 3fr 3fr;
}

.form-area {
  height: 95vh;
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
}

.form-area fieldset, .op-area fieldset {
  margin: 0 1vw;
}

.op-area {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.viewer {
  padding-top: 2px;
  margin: 0 1vw;
  height: 100%;
  width: 95%;
  grid-column: 2 / 3;
  justify-self: stretch;
  align-self: stretch;
}

.viewer.active {
  background-color: #cfc;
  border: thin hidden #000;
  box-sizing: border-box;
  border-radius: 50vh;
}

.viewer canvas {
  border: thick solid rgba(0,0,0,0.5);
  box-sizing: border-box;
  border-radius: 50vh;
}

.viewer.a {
  grid-row: 2 / 3;
}

.viewer.b {
  grid-row: 3 / 4;
}
